.movieList {
    height: 70vh;
    overflow-y: auto;
}
.listImg{
    height: 70px ;
}
.movie-detail{
    height: 70vh;
    overflow-y: hidden;
    border: 1px solid black;

}
.image-height{
    height: 200px;
}
.image-div {
    border: 1px solid black;

}